* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(https://images.unsplash.com/photo-1557683304-673a23048d34?q=80&w=1700&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
/* regole generali navbar */
nav {
    margin-bottom: 50px;
}
label.logo {
    font-size: 35px;
    font-weight: 800;
    line-height: 100px;
    padding: 0 30px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}
nav ul li a {
    font-size: 24px;
    padding: 6px 12px;
}
a.active, a:hover {
    color: rgb(255, 230, 0);
    transition: 0.5s;
}
#check {
    display: none;
}
.check-btn {
    font-size: 35px;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}

/* media query */
@media (max-width: 952px) {
    label.logo {
        padding: 0 20px 0 20px;
    }
}
@media (max-width: 760px) {
    .check-btn {
        display: block;
    }
    nav ul {
        width: 100%;
        height: 100vh;
        position: fixed;
        border: 3px solid white;
        background: url(https://images.unsplash.com/photo-1557683304-673a23048d34?q=80&w=1700&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.8s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 50px;
    }
    nav ul li a {
        font-size: 30px;
    }
    a.active, a:hover {
        background: none;
        color: rgb(255, 230, 0);
    }
    #check:checked ~ ul {
        left: 0;
    }
}